<div class="contain">
  <div class="profile">
    <%= link_to('Profile','/profile/new', class:"profile-good") %>
    <div class="profile-content">
      <li>
      name：Daniel
       
      </li>
      <% @profiles.each do |profile| %>
        
      <li>
        <% require 'date' %>
        <% @age = (Date.today.strftime("%Y%m%d").to_i - profile.birthday)/10000.floor %>
        age：<%= @age %>
      </li>
      <li>
      sex：<%= profile.sex %>
      </li>
      <li>
      height：<%= profile.height %>
      </li>
      <li>
      weight：<%= profile.weight %>
      </li>
      <li>
      start weight：<%= profile.startWeight %>
      </li>
      <li>
      target weight：<%= profile.targetWeight %>
      </li>
      <li>
      <% @BMR = 13.397 * profile.weight + 4.799 * profile.height - 5.677 * @age + 88.362 %>
      BMR：<%= @BMR.floor %>
      </li>
      <li>
      <% @activeLevel = profile.activeLevel.to_f %>
      activelevel：<%= @activeLevel %>
      </li>
      <li>
      <% @total = @BMR * @activeLevel %>
      Total calories burned：<%= @total.floor %>
      </li>
      <% end %>
    </div>
  </div>

  <div class="right-content">
    <div class="pfc">
      <div class="pfc-btn">
        <div class="hard-btn">HARD</div>
        <div class="normal-btn">NORMAL</div>
        <div class="easy-btn">EASY</div>
      </div>
      <div class="pfcsheet">
        <%= form_with url:"" do |form| %>
          <%= form.text_field:ingredient, placeholder:"ingredient",class:"ingredient" %>
          <%= form.number_field:protein, placeholder:"protein", class:"protein" %>
          <%= form.number_field:carbo, placeholder:"carbo",class:"carbo" %>
          <%= form.number_field:fat, placeholder:"fat",class:"fat" %>
          <%= form.submit class:"send" %>
        <% end %>
      </div>
      <div class="mode">
        <div class="hard">
          ハーード(約3.0kg 減/月):
          <div class="hard-protein">
            160
          </div>
          <div class="hard-carbo">
            160
          </div>
          <div class="hard-fat">
            40
          </div>
        </div >
        <div class="normal">
          ノーマル(約2.1kg 減/月):
          <div class="normal-protein">
            180
          </div>
          <div class="normal-carbo">
            180
          </div>
          <div class="normal-fat">
            45
          </div>
        </div>
        <div class="easy">
          イージー(約1.3kg 減/月):
          <div class="easy-protein">
            200
          </div>
          <div class="easy-carbo">
            200
          </div>
          <div class="easy-fat">
            50
            
          </div>
        </div>
      </div>
    </div>
    <div class="chart">
      <% @profiles.each do |profile| %>
        <%= line_chart @data, width: "1000px", height: "300px", min:profile.startWeight, max:profile.targetWeight %>
      <% end %>
    </div>
  
</div>