<!DOCTYPE html>
<html>
  <head>
    <title>NutritionApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>
  <body>
   
   <div class="all">
     <div class="header">
      <li>
       <%= link_to('マイページ','/home/new',:style=>"color:white;") %>
      </li>
      <li>
       <%= link_to('プロフィール作成','/profile/new',:style=>"color:white;") %>
      </li>
      <li>
       <%= link_to('トップページ','/',:style=>"color:white;") %>
      </li>
      <li id="btn">
       豆知識
       <div class="text-content">
        <p>
         <%= link_to('正しいダイエットは２つだけ...',tribia1_homes_path,:style=>"color:white;") %>
        </p>
        <p>
         <%= link_to('なせ筋トレが続かないのか...',tribia2_homes_path,:style=>"color:white;") %>
        </p>
        <p>
         <%= link_to('痩せるために有酸素運動？...',tribia3_homes_path,:style=>"color:white;") %>
        </p>
        <p>
         <%= link_to('食べてないのに痩せない。その原因は...',tribia4_homes_path,:style=>"color:white;") %>
        </p>
       </div>
      </li>
      <li>
      <p>
       <%= link_to "新規登録",new_user_registration_path,:style=>"color:white;" %>
      </p>
      <P>
       <%= link_to "ログイン",new_user_session_path,:style=>"color:white;" %>
      </p>
      <p>
       <%= link_to "ログアウト",destroy_user_session_path, method: :delete,:style=>"color:white;" %>
      </p>
      </li>
    </div>
   </div>

   <script>
    $('#btn').hover(
     function(){
       $(this).find('.text-content').addClass('text-active');
     },
     function(){
       $(this).find('.text-content').removeClass('text-active');
     }
   );
   </script>

    <%= yield %>
  </body>
</html>
